body {
  color: #333;
  a:hover {
    text-decoration: underline;
  }
}

.Yag-gifs {
  padding: 40px 0px;
  h1 {
    text-align: center;
  }
}

.u-noList {
  list-style: none;
  margin: 0px;
  li {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.Giph-preview {
  margin-bottom: 20px;
  img {
    text-align: center;
    width: 100%;
  }
}

.Gifs-list {
  margin-top: 20px !important;
}

.Gif {
  padding: 40px 0px;
}
