/* *
* Colors
* */
$brand-color:             #15b9d5;
$brand-emphasis:          #12b0cb;

$secondary-color:         #33485f;
$secondary-emphasis:      #2c3e52;

$component-color:         #f07937;
$component-emphasis:      #df7134;

$alert-color:             #ea4a35;
$alert-emphasis:          #c13825;

$white:                   #f9f9f9;
$gray:                    #aaaaaa;
$gray-dark:               #4b4b4b;
$gray-darker:             #2b2b2b;
$black:                   #181818;

$main-color: #fff;
$title-color: $main-color;
